<div class="btn-group btn-group-justified" role="group"  style="position: fixed;z-index: 9999;" aria-label="...">
  <div class="btn-group" role="group">
    <a type="button" class="btn btn-info" onclick="history.back();" style="border-radius: 0px;">
	    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
    </a>
  </div>
  <div class="btn-group" role="group">
    <a type="button" class="btn btn-info" href="{:addons_url('Inn://Book/book')}">首 页</a>
  </div>
  <div class="btn-group" role="group">
    <a type="button" class="btn btn-info"  href="{:addons_url('Inn://Member/index')}" style="border-radius: 0px;">我 的</a>
  </div>
</div>