<!DOCTYPE html>
<html>
<head>
	<title>发布留言-留言板</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<script type="text/javascript" src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript" src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<style type="text/css">
	body{padding-top:50px;}
	.navbar{background: #08a5e0;}
	.navbar-brand{color:#fff;}</style>
</head>
<body>
<!-- header begin -->
<nav class="navbar navbar-fixed-top">
<a class="navbar-brand" href="#"><span class="glyphicon glyphicon-user"></span><strong>留言板</strong></a>
<a class="navbar-brand pull-right" href="#"><span class="glyphicon glyphicon-refresh"></span></a></nav>

<!-- fabu begin -->
<div class="well">
<form method="post" action="deal.php">
<div class="form-group">
<label for="content">留言内容</label>
<textarea id="content" name="content" class="form-control" placeholder="请输入你的留言内容" rows="8"></textarea></div>
<div class="form-group">
<label for="name">你的姓名</label>
<input class="form-control" type="text" id="name" name="name" placeholder="请输入你的姓名"></input></div>
<div class="text-right">
<button class="btn btn-primary" type="submit">提交</button>
</div></form>
</div>
</body>
</html>