<!DOCTYPE html>
<html>
<head>
	<title>发布留言-留言板</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<script type="text/javascript" src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript" src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<style type="text/css">
	body{padding-top: 50px}
	.navbar{background: #08a5e0}
	.navbar-brand{color:#fff}
	</style>
</head>
<body>
<!-- header begin -->
<nav class="navbar navbar-fixed-top">
<a class="navbar-brand" href="#">
<span class="glyphicon glyphicon-user"></span><strong>留言板</strong>
</a>
<a class="navbar-brand pull-right"><span class="glyphicon glyphicon-refresh"></span></a>
</nav>




<div class="well">
<ul class="list-group">
<li class="list-group-item">艾逗笔</li>
<li class="list-group-item">2014-08-02 17:25:44</li>
<li class="list-group-item">我曾经跨过山和大海，也穿过人山人海，我曾经拥有过的一切，转眼间消逝如烟，我曾经失落失望失掉所有方向，直到看到平凡才是唯一的答案。</li>
</ul>
</div>


<div class="well">
<ul class="list-group">
<li class="list-group-item">艾逗笔</li>
<li class="list-group-item">2014-08-02</li>
<li class="list-group-item">我曾经跨过山和大海，也穿过人山人海，我曾经拥有过的一切，转眼间消逝如烟，我曾经失落失望失掉所有方向，直到看到平凡才是唯一的答案。</li>
</ul>
</div>


<div class="well">
<ul class="list-group">
<li class="list-group-item">艾逗笔</li>
<li class="list-group-item">2014-08-02</li>
<li class="list-group-item">我曾经跨过山和大海，也穿过人山人海，我曾经拥有过的一切，转眼间消逝如烟，我曾经失落失望失掉所有方向，直到看到平凡才是唯一的答案。</li>
</ul>
</div>

</body>
</html>