	<div id="nav" class="nav nav-fixed">
		<div class="container" style="position: relative; overflow: inherit;">
			<div class="nav-table">
				<div class="nav-td nav_item active" data="lottery" onclick="location.href='http://www.onesword.cn/addon/Scratch/Scratch/show/id/{$_GET['id']}.html'">
					<img class="no" src="{:ADDON_PUBLIC_PATH}/imgs/IconLottery.png" style="width: 20.833333%;" />
					<div class="title"><span>抽</span>奖</div>
				</div>
				<div class="nav-td" data="onesword" onclick="location.href='{$img_res.link}'">
					<img class="no" src="{:ADDON_PUBLIC_PATH}/imgs/IconInfo.png" style="width: 20.833333%;" />
					<div class="title"><span>实</span>景</div>
				</div>
				<div class="nav-td" data="exchange_temp" onclick="location.href='/addon/Scratch/Scratch/exchange_online/id/{$_GET['id']}/wechat_card_js=1'">
					<img class="no" src="{:ADDON_PUBLIC_PATH}/imgs/IconAbout.png" style="width: 20.833333%;" />
					<div class="title"><span>兑</span>换</div>
				</div>
			</div>
			<div style="position: absolute; width: 20px; height: 200%; left: -20px; top: 0; background-color: #FFF;"></div>
			<div style="position: absolute; width: 20px; height: 200%; right: -20px; top: 0; background-color: #FFF;"></div>
		</div>
	</div>
	<div class="main-top"></div>