<meta charset="UTF-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>{$header}</title>
<meta name="keywords" content="{:C('WEB_SITE_KEYWORD')}"/>
<meta name="description" content="{:C('WEB_SITE_DESCRIPTION')}"/>
<link rel="icon" href="/favicon.png">

<!-- Bootstrap -->
<link href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">

<link href="{:ADDON_PUBLIC_PATH}/css/base.css" rel="stylesheet">
<link href="{:ADDON_PUBLIC_PATH}/css/style.css" rel="stylesheet">

<!--[if lt IE 9]>
	<!-- 在老式IE中创建HTML5新增的标签 -->
    <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
    <!-- 为老式IE提供CSS3新增的选择器和属性 -->
    <script src="__STATIC__/selectivizr/1.0.2/selectivizr-min.js"></script>
    <!-- 让IE6-8支持CSS3 Media Query -->
    <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.js"></script>
<![endif]-->
<block name="style"></block>
<!-- 从百度静态资源公共库获取jquery -->
<script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- 如果百度jquery资源加载不成功，加载本网站jquery资源。 -->
<script>window.jQuery || document.write('<script src="__STATIC__/jquery/1.11.1/jquery.min.js"><\/script>')</script>
<script type="text/javascript" src="http://tajs.qq.com/stats?sId=44040565" charset="UTF-8"></script>
